body {
    margin: 0px;
    background-color: aqua;
}

.background {
    width: 100%;
    height: 512px;
    background-image: url("horror.png");
    position: absolute;
    background-repeat: repeat-x;
    margin: auto;
    margin-top: 50px;
}

.boy {
    transform: scale(0.3);
    width: 614px;
    height: 564px;
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
    background-image: url("boy.png");
}

.object {
    width: 50px;
    height: 50px;
    position: absolute;
    /* background-color: red; */
    margin-top: 420px;
    transform: scaleX(-1);
    background-image: url("ghost1.png");
}

.score {
    position: relative;
    font-family: "Quicksand";
    color: rgb(0, 0, 0);
    text-align: center;
}

.gameOver {
    position: absolute;
    align-self: center;
    font-family: "Quicksand";
    color: red;
    text-align: center;
    margin-left: 525px;
    margin-top: 200px;
}

.newGame {
    position: absolute;
    align-self: center;
    font-family: "Quicksand";
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 300px;
    margin-left: 550px;
}